#project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
    margin: 80px 170px;
}

.project-title {
    position: relative;
}

.project-title h1 {
    font-size: 80px;
    font-weight: 600;
    padding: 0 30px;
}

.project-title img {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.project-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}

.project-container img {
    box-sizing: border-box;
    width: 419px;
    height: 280px;
    transition: 0.3s;
    cursor: pointer;
}

.project-container img:hover {
    transform: scale(1.05);
    border: 4px solid #ff00ff;
    border-radius: 10px;
    transition: 0.3s;
}

.project-showmore {
    display: flex;
    gap: 15px;
    border-radius: 50px;
    border: 2px solid white;
    padding: 30px 60px;
    font-weight: 500;
    font-size: 22px;
    margin-bottom: 80px;
    transition: 0.6s;
    cursor: pointer;
}

.project-showmore:hover {
    gap: 30px;
    transition: 0.6s;
}

.project-container-box {
    position: relative;
}

.project-container-box-icon {
    display: none;
    position: absolute;
    top: 50%;
    left: 40%;
}

.project-container-box:hover {
    .project-container-box-icon {
        display: flex;
        font-size: 40px;
        align-items: center;
        justify-content: center;
        gap: 20px;
        color: #323232;
    }

}